/*
 * 轻应用Baas平台API
 * demo
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.chinamobile.iot.baas.sdk.api;

import com.chinamobile.iot.baas.sdk.ApiCallback;
import com.chinamobile.iot.baas.sdk.ApiClient;
import com.chinamobile.iot.baas.sdk.ApiException;
import com.chinamobile.iot.baas.sdk.ApiResponse;
import com.chinamobile.iot.baas.sdk.Configuration;
import com.chinamobile.iot.baas.sdk.Pair;
import com.chinamobile.iot.baas.sdk.ProgressRequestBody;
import com.chinamobile.iot.baas.sdk.ProgressResponseBody;
import com.chinamobile.iot.baas.sdk.SignatureUtil;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.chinamobile.iot.baas.sdk.model.PageInfoDeviceLogs;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DeviceLogApi {
    private ApiClient apiClient;

    public DeviceLogApi(String basePath,String accessId,String accessKey) {
        this(Configuration.getDefaultApiClient(basePath,accessId,accessKey));
    }

    public DeviceLogApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getDeviceLogsListUsingGET
     * @param sessionToken session-token (required)
     * @param deviceId 设备ID (optional)
     * @param deviceName 设备名称 (optional)
     * @param logType 日志类型 (optional)
     * @param beginDate 开始日期 (optional)
     * @param endDate 结束日期 (optional)
     * @param userName 用户名 (optional)
     * @param operator 操作人 (optional)
     * @param pageNum 页数 (optional)
     * @param pageSize 每页条数 (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDeviceLogsListUsingGETCall(String sessionToken, String deviceId, String deviceName, String logType, String beginDate, String endDate, String userName, String operator, String pageNum, String pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1.0/devices/logs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

       if (deviceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("deviceId", deviceId));

       if (deviceName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("deviceName", deviceName));

       if (logType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("logType", logType));

       if (beginDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("beginDate", beginDate));

       if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));

       if (userName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("userName", userName));

       if (operator != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("operator", operator));

       if (pageNum != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageNum", pageNum));

       if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String,Object> params = new HashMap<>();

       if (deviceId != null)
        params.put("deviceId",deviceId);
       if (deviceName != null)
        params.put("deviceName",deviceName);
       if (logType != null)
        params.put("logType",logType);
       if (beginDate != null)
        params.put("beginDate",beginDate);
       if (endDate != null)
        params.put("endDate",endDate);
       if (userName != null)
        params.put("userName",userName);
       if (operator != null)
        params.put("operator",operator);
       if (pageNum != null)
        params.put("pageNum",pageNum);
       if (pageSize != null)
        params.put("pageSize",pageSize);

        String authCode = "";
        try {
            authCode = SignatureUtil.signature(apiClient.getAccessId(), apiClient.getAccessKey(),"GET",params);
        } catch (Exception e) {
            e.printStackTrace();
        }


        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (sessionToken != null)
        localVarHeaderParams.put("session-token", apiClient.parameterToString(sessionToken));


        localVarHeaderParams.put("authCode", authCode);


        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDeviceLogsListUsingGETValidateBeforeCall(String sessionToken, String deviceId, String deviceName, String logType, String beginDate, String endDate, String userName, String operator, String pageNum, String pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'sessionToken' is set
        if (sessionToken == null) {
            throw new ApiException("Missing the required parameter 'sessionToken' when calling getDeviceLogsListUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = getDeviceLogsListUsingGETCall(sessionToken, deviceId, deviceName, logType, beginDate, endDate, userName, operator, pageNum, pageSize, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 查询设备日志列表
     * 查询设备日志列表
     * @param sessionToken session-token (required)
     * @param deviceId 设备ID (optional)
     * @param deviceName 设备名称 (optional)
     * @param logType 日志类型 (optional)
     * @param beginDate 开始日期 (optional)
     * @param endDate 结束日期 (optional)
     * @param userName 用户名 (optional)
     * @param operator 操作人 (optional)
     * @param pageNum 页数 (optional)
     * @param pageSize 每页条数 (optional)
     * @return PageInfoDeviceLogs
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PageInfoDeviceLogs getDeviceLogsListUsingGET(String sessionToken, String deviceId, String deviceName, String logType, String beginDate, String endDate, String userName, String operator, String pageNum, String pageSize) throws ApiException {
        ApiResponse<PageInfoDeviceLogs> resp = getDeviceLogsListUsingGETWithHttpInfo(sessionToken, deviceId, deviceName, logType, beginDate, endDate, userName, operator, pageNum, pageSize);
        return resp.getData();
    }

    /**
     * 查询设备日志列表
     * 查询设备日志列表
     * @param sessionToken session-token (required)
     * @param deviceId 设备ID (optional)
     * @param deviceName 设备名称 (optional)
     * @param logType 日志类型 (optional)
     * @param beginDate 开始日期 (optional)
     * @param endDate 结束日期 (optional)
     * @param userName 用户名 (optional)
     * @param operator 操作人 (optional)
     * @param pageNum 页数 (optional)
     * @param pageSize 每页条数 (optional)
     * @return ApiResponse&lt;PageInfoDeviceLogs&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PageInfoDeviceLogs> getDeviceLogsListUsingGETWithHttpInfo(String sessionToken, String deviceId, String deviceName, String logType, String beginDate, String endDate, String userName, String operator, String pageNum, String pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getDeviceLogsListUsingGETValidateBeforeCall(sessionToken, deviceId, deviceName, logType, beginDate, endDate, userName, operator, pageNum, pageSize, null, null);
        Type localVarReturnType = new TypeToken<PageInfoDeviceLogs>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * 查询设备日志列表 (asynchronously)
     * 查询设备日志列表
     * @param sessionToken session-token (required)
     * @param deviceId 设备ID (optional)
     * @param deviceName 设备名称 (optional)
     * @param logType 日志类型 (optional)
     * @param beginDate 开始日期 (optional)
     * @param endDate 结束日期 (optional)
     * @param userName 用户名 (optional)
     * @param operator 操作人 (optional)
     * @param pageNum 页数 (optional)
     * @param pageSize 每页条数 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDeviceLogsListUsingGETAsync(String sessionToken, String deviceId, String deviceName, String logType, String beginDate, String endDate, String userName, String operator, String pageNum, String pageSize, final ApiCallback<PageInfoDeviceLogs> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDeviceLogsListUsingGETValidateBeforeCall(sessionToken, deviceId, deviceName, logType, beginDate, endDate, userName, operator, pageNum, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PageInfoDeviceLogs>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
